
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@680&display=swap');

@import "tailwindcss";


body {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  background-color: #000;
 
  
}
